<nav class="navbar" role="navigation" aria-label="main navigation" data-target="navMenu">
  <div class="navbar-brand">
    <a class="navbar-item" href="./index.html">
      <img src="./public/images/1.png" alt="Matheus Marques - Desenvolvedor e Cientista de Dados" style="max-width:80px; max-height:80px;">
    </a>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="./index.html" class="navbar-item">
        Início
      </a>

      <a href="./projetos.html" class="navbar-item">
        Projetos
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Ferramentas
        </a>

        <div class="navbar-dropdown">
          <a href="./importacao.html" class="navbar-item">
            Calculadora Importação
          </a>
          <a href="./wppmsg.html" class="navbar-item">
            WhatsApp Link
          </a>
        </div>
      </div>
      <a href="#" class="navbar-item">
        Hobbies (Em breve)
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a href="./produtos.html" class="button is-primary">
            <strong>Loja Marks Importados</strong>
          </a>
          <a href="#" class="button is-light">
            Contato (Em breve)
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>