
h1 {

    display: flex;
    justify-content: center;;

}

.content_row{

    margin-bottom: 40px;

}

.title, .data, .descr, .image{

    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 30px;

}

img{
    width: 50%;
    height: 50%;
}